html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  width: 100vw;
}

// div,
// section {
//   border: 0.7px dotted magenta;
// }

.buroimproof * {
  font-family: "Sora", sans-serif !important;
}

main {
  padding-top: 0px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  main {
    padding-top: 0px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  main {
    padding-top: 0px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 765px) {
  main {
    padding-top: 0px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  main {
    padding-top: 0px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  main {
    padding-top: 0px;
  }
}

.woocommerce img,
.woocommerce-page img {
  height: 100% !important;
  max-width: 100% !important;
}

:focus-visible {
  outline: -webkit-focus-ring-color auto 0px !important;
}

main {
  overflow-x: hidden !important;
}


.text-editor {
  display: grid;
  gap: 22px;

  a {
    text-decoration: underline;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    strong {
      font-weight: 700;
    }

    em {
      font-style: italic;
    }


  }

  ul {
    list-style-type: disc;
    list-style-position: outside;
    list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15.745" height="15.745" viewBox="0 0 15.745 15.745"><g id="Group_2059" data-name="Group 2059" transform="translate(-175 -673)"><path id="Path_90" data-name="Path 90" d="M7.872,0A7.872,7.872,0,1,1,0,7.872,7.872,7.872,0,0,1,7.872,0Z" transform="translate(175 673)" fill="%23162cf5"/><path id="Path_45" data-name="Path 45" d="M0,0C.453.424,3.665,3.785,3.665,3.785L7.263,0" transform="translate(181.509 684.809) rotate(-90)" fill="none" stroke="%23fff" stroke-linecap="round" stroke-width="2"/></g></svg>');
    margin-left: 22px;

    li {
      font-size: 16px;
      line-height: 30px;
      font-weight: 700;
      color: #162CF5;
      padding-left: 16px;


      &::marker {
        // content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15.745" height="15.745" viewBox="0 0 15.745 15.745"><g id="Group_2059" data-name="Group 2059" transform="translate(-175 -673)"><path id="Path_90" data-name="Path 90" d="M7.872,0A7.872,7.872,0,1,1,0,7.872,7.872,7.872,0,0,1,7.872,0Z" transform="translate(175 673)" fill="%23162cf5"/><path id="Path_45" data-name="Path 45" d="M0,0C.453.424,3.665,3.785,3.665,3.785L7.263,0" transform="translate(181.509 684.809) rotate(-90)" fill="none" stroke="%23fff" stroke-linecap="round" stroke-width="2"/></g></svg>');
        text-align: center !important;
      }

    }

  }



  ol {
    list-style-type: decimal;
    list-style-position: outside;
    list-style-image: none;
    margin-left: 1rem;

    li {
      font-size: 16px;
      line-height: 30px;
      font-weight: 700;
      color: #162CF5;
      padding-left: 16px;
    }

  }

  blockquote {
    border-left: 2px solid #162CF5;

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      padding-left: 1rem;
    }
  }

  h1 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: #162CF5;


    // MD
    @media (min-width: 768px) {
      font-size: 20px;
      line-height: 25px;
    }

    // LG
    @media (min-width: 1200px) {
      font-size: 22px;
      line-height: 27px;
    }

    // XL
    @media (min-width: 1352px) {
      font-size: 22px;
      line-height: 27px;
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: #162CF5;


    // MD
    @media (min-width: 768px) {
      font-size: 20px;
      line-height: 25px;
    }

    // LG
    @media (min-width: 1200px) {
      font-size: 22px;
      line-height: 27px;
    }

    // XL
    @media (min-width: 1352px) {
      font-size: 22px;
      line-height: 27px;
    }
  }

  iframe {
    width: 100% !important;
    // height: auto !important;
    // aspect-ratio: 16/9 !important;
  }
}


// iframe {
//   width: auto !important;
//   height: 110vh !important;
//   aspect-ratio: 16/9 !important;
//   object-fit: cover !important;
//   object-position: center !important;
// }

html {
  scroll-padding-top: 40px;
}


.padding-top-xs {
  padding-top: 20px;

  // MD
  @media (min-width: 768px) {
    padding-top: 20px;
  }

  // LG
  @media (min-width: 1200px) {
    padding-top: 20px;
  }

  // XL
  @media (min-width: 1352px) {
    padding-top: 20px;
  }
}

.padding-bottom-xs {
  padding-bottom: 20px;

  // MD
  @media (min-width: 768px) {
    padding-bottom: 20px;
  }

  // LG
  @media (min-width: 1200px) {
    padding-bottom: 20px;
  }

  // XL
  @media (min-width: 1352px) {
    padding-bottom: 20px;
  }
}

.padding-top-s {
  padding-top: 30px;

  // MD
  @media (min-width: 768px) {
    padding-top: 30px;
  }

  // LG
  @media (min-width: 1200px) {
    padding-top: 30px;
  }

  // XL
  @media (min-width: 1352px) {
    padding-top: 30px;
  }
}

.padding-bottom-s {
  padding-bottom: 30px;

  // MD
  @media (min-width: 768px) {
    padding-bottom: 30px;
  }

  // LG
  @media (min-width: 1200px) {
    padding-bottom: 30px;
  }

  // XL
  @media (min-width: 1352px) {
    padding-bottom: 30px;
  }
}

.padding-top-m {
  padding-top: 50px;

  // MD
  @media (min-width: 768px) {
    padding-top: 50px;
    ;
  }

  // LG
  @media (min-width: 1200px) {
    padding-top: 50px;
    ;
  }

  // XL
  @media (min-width: 1352px) {
    padding-top: 50px;
  }
}

.padding-bottom-m {
  padding-bottom: 50px;

  // MD
  @media (min-width: 768px) {
    padding-bottom: 50px;
  }

  // LG
  @media (min-width: 1200px) {
    padding-bottom: 50px;
  }

  // XL
  @media (min-width: 1352px) {
    padding-bottom: 50px;
  }
}

.padding-top-l {
  padding-top: 80px;

  // MD
  @media (min-width: 768px) {
    padding-top: 80px;
  }

  // LG
  @media (min-width: 1200px) {
    padding-top: 80px;
  }

  // XL
  @media (min-width: 1352px) {
    padding-top: 80px;
  }
}

.padding-bottom-l {
  padding-bottom: 80px;

  // MD
  @media (min-width: 768px) {
    padding-bottom: 80px;
  }

  // LG
  @media (min-width: 1200px) {
    padding-bottom: 80px;
  }

  // XL
  @media (min-width: 1352px) {
    padding-bottom: 80px;
  }
}

.padding-top-xl {
  padding-top: 80px;

  // MD
  @media (min-width: 768px) {
    padding-top: 80px;
  }

  // LG
  @media (min-width: 1200px) {
    padding-top: 100px;
  }

  // XL
  @media (min-width: 1352px) {
    padding-top: 100px;
  }
}

.padding-bottom-xl {
  padding-bottom: 80px;

  // MD
  @media (min-width: 768px) {
    padding-bottom: 80px;
  }

  // LG
  @media (min-width: 1200px) {
    padding-bottom: 100px;
  }

  // XL
  @media (min-width: 1352px) {
    padding-bottom: 100px;
  }
}