.submenu-content {

    opacity: 1;
    transition-duration: .3s;
    transform: translateX(0);



    &.hide {

        opacity: 0;
        height: 0px;
        transform: translateX(-5px);
        transition: transform 0s var(--tds-bezier), opacity 0s var(--tds-bezier), -webkit-transform 0s var(--tds-bezier);



    }
}

.submenu-hover.active {
    button {
        color: #162CF5 !important;
        transition-duration: .2s;
    }

    svg {
        path {
            stroke: #162CF5 !important;
        }
    }
}

.dropdown-nonactive {
    #dropdown {
        opacity: 0;
        top: -100%;
        transition: opacity 0.3s ease, transform 0.3s ease;

    }

    #dropdown-button {
        svg {
            rotate: 180deg;
            transition-duration: .2s;
        }


    }

    .dropdown-item {
        &::after {
            content: "";
            display: block;
            width: 0;
            height: 2.5px;
            background: #162CF5;
            transition: width .3s;
        }
    }

    .overlay-dropdown {
        z-index: 9997;
        position: fixed;
        top: 0;
        left: 0;
        width: 0%;
        height: 0%;
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        background: #0000002e;

    }

    .submenu-content {
        .submenucontent-col {
            opacity: 0;
            transition-duration: 0s;
            transform: translateY(-5px);

            @for $i from 2 through 100 {
                &:nth-of-type(#{$i}) {
                    transition-delay: 0s * $i;
                }
            }
        }
    }


}

.dropdown-active {
    #dropdown {
        opacity: 1;
        transition: top 0.3s ease, transform 0.3s ease;
    }

    #dropdown-button {
        svg {
            rotate: unset;
            transition-duration: .2s;
        }

    }

    .dropdown-item {
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 2.5px;
            background: #162CF5;
            transition: width .3s;
        }
    }

    .overlay-dropdown {
        z-index: 9997;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        background: #0000002e;

    }

    .submenu-content {

        .submenucontent-col {
            opacity: 1;
            transition-duration: .7s;

            transform: translateY(0);

            @for $i from 2 through 100 {
                &:nth-of-type(#{$i}) {
                    transition-delay: .1s * $i;
                }
            }
        }
    }


}

#mobiel-menu {
    p {
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 2.5px;
            background: #162CF5;
            transition: width .3s;
        }
    }
}







/* Menu Button 6 */
.menu-btn {
    height: 26px;
    width: 16.26px;
    cursor: pointer;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
    background: #0F0E0E;
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    border-radius: 999px;
    margin-top: 13px;

    -webkit-transition: .3s ease-in-out .3s;
    -moz-transition: .3s ease-in-out .3s;
    -o-transition: .3s ease-in-out .3s;
    transition: .3s ease-in-out .3s;
}

.menu-btn span::before {
    margin-top: -6px;

    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.menu-btn span::after {
    margin-top: 6px;

    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

p.menu {

    top: 0px;
    transition-delay: .3s;
    transition-duration: .3s;
}

p.sluiten {

    top: 22.5px;
    transition-delay: .3s;
    transition-duration: .3s;
}

#mobilemenu {
    left: -100%;
    transition: all .4s ease;
}

.mobilemenu-active {
    overflow-y: hidden;

    #mobilemenu {
        left: 0px;
        transition: all .4s ease;
    }

    p.menu {

        top: -22.5px;
        transition-delay: .3s;
        transition-duration: .3s;
    }

    p.sluiten {

        top: 0px;
        transition-delay: .3s;
        transition-duration: .3s;

    }

    .menu-btn span {
        background: transparent;

        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;

        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .menu-btn span::before {
        margin-top: 0;

        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);

        -webkit-transition-delay: .5s;
        -moz-transition-delay: .5s;
        -o-transition-delay: .5s;
        transition-delay: .5s;
    }

    .menu-btn span::after {
        margin-top: 0;

        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);

        -webkit-transition-delay: .6s;
        -moz-transition-delay: .6s;
        -o-transition-delay: .6s;
        transition-delay: .5s;
    }
}

.mobilesubmenu-nonactive {
    #mobilesubmenu {
        right: -100%;
        transition: all .4s ease;
    }
}


.mobilesubmenu-active {
    #mobilesubmenu {
        right: 0px;
        transition: all .4s ease;
    }
}